<!DOCTYPE html>

<html>
    <head>
        <title>ERROR 404</title>
        <link rel="stylesheet" href="public/css/stylesheet.css" />
        </head>

    <body>
        <h1>OUPS ERROR 404</h1>
    </body>
</html>
