<!DOCTYPE html>
<html>
    <head>
        <title>ERROR 404</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/404.css" />
        <link rel="icon" type="image/png" href="/assets/img/favicon/donuts.png" />
    </head>
    <body>
        <div>
            <h1>404</h1>
            <img id="image404" src=<%= src %>>
            <span>Seems like your page doesn't exist anymore !</span>
        </div>
    </body>
</html>