<!DOCTYPE html>

<html>
    <head>
        <title>Kindle parser</title>
        <link rel="stylesheet" href="public/css/stylesheet.css" />
        </head>

    <body>
        <h1>Parsing Success ;) </h1>
    </body>
</html>
