<!DOCTYPE HTML>

<html>
    <head>
        <title>Kindle parser</title>
        <!-- <link rel="stylesheet" type="text/css" href="stylesheet.CSS"> -->
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        </head>

    <body>
        <div id="face"></div>
        <h1>Turn your Kindle notes into vocabulary sheets ! </h1>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <p>
                <label for="file_link">Select your Kindle notes file </label>
                <input type="file" name="file_link" id="file_link"  autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>
