<!DOCTYPE html>

<html>
    <head>
        <title>Parseur</title>
        <link rel="stylesheet" type="text/css" href="static/css/stylesheet.css" />
        </head>

    <body>
        <div id="face"></div>
        <h1>Turn your Kindle notes into vocabulary sheets ! </h1>
        <form ref='uploadForm'  id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
            <label for="sampleFile">Select your Kindle notes file </label>
            <input type="file" name="sampleFile" id="sampleFile"/>
            <input type='submit' value='Upload!' />
        </form>
    </body>
</html>
