<!DOCTYPE html>

<html>
    <head>
        <title>Kindle parser</title>
        <link rel="stylesheet" href="stylesheet.CSS" />
        </head>

    <body>
        <h1>Parsing in process </h1>
    </body>
</html>
